@page
@model DemoWebApp.Pages.Items.EditModel
@{
}
<br>
<h2>Add New Item</h2>
@if (Model.errorMessage.Length>0)
{
    <div class="alert alert-warning alert-dismissible fade show" role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label="Close" ></button>
    </div>
}



<form method="post">
   <input type="hidden" name ="id" value="@Model.itemDetails.id"></input> 
  <div class="container">
  <div class="row justify-content-start">
    <div class="col-6">
     <label for="lblItemName">Item Name</label>
      <input type="text" class="form-control" name="item_name" placeholder="Item Name" value="@Model.itemDetails.item_name">
    </div>
    <div class="col-6">
     <label for="lblItemcode">Item Code</label>
      <input type="text" class="form-control" name="item_code" placeholder="Item Code" value="@Model.itemDetails.item_code" readonly>
    </div>
  </div>
    <div class="row justify-content-start">
    <div class="col-6">
        <label for="lblItemCategory">Item Category</label>
        @Html.DropDownList("item_category", new List<SelectListItem>
{    new SelectListItem {Text ="Device",Value="Device",Selected=(@Model.itemDetails.item_category=="Device")},
    new SelectListItem {Text ="Accessory",Value="Accessory",Selected=(@Model.itemDetails.item_category=="Accessory")},
},"Choose", new { @class = "form-control" })
        
    </div>
    <div class="col-6">
       <label for="lblItemDescription">Item Description</label>
      <input type="text" class="form-control" name="item_description" placeholder="Item Description" value="@Model.itemDetails.item_description">
    </div>
  </div>
    <div class="row justify-content-start">
    <div class="col-6">
   <label for="lblItemCategory">Service type</label>
       @Html.DropDownList("service_type", new List<SelectListItem>
{    new SelectListItem {Text ="CAPEX",Value="CAPEX",Selected=(@Model.itemDetails.service_type=="CAPEX")},
    new SelectListItem {Text ="OPEX",Value="OPEX",Selected=(@Model.itemDetails.service_type=="OPEX")},
},"Choose", new { @class = "form-control" })
    </div>
    <div class="col-6">
  
    </div>
  </div>
  <br>
  @if (Model.sucessMessage.Length>0)
{
    <div class="alert alert-warning alert-dismissible fade show" role='alert'>
        <strong>@Model.sucessMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label="Close" ></button>
    </div>
}
     <div class="row mb-3">
    <div class="offset-sm-3 col-sm-3 d-grid">
        <a  class="btn btn-secondary" href="/Items/Index">Cancel</a>
    </div>
    <div class="col-sm-3 d-grid">
  <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</form>